button {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 15%;
}

div {
    height: 400px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   align-items: center;
}

button:nth-of-type(4) { 
    align-self: flex-end;